@import "./css-reset.css";

:root {
    --white-100: #FFFFFF;
    --dark-900: #161616;
    --dark-600: #808090;
    --green-400: #E25098;
    --green-white-100: #E25098;
}

body {
    background: var(--dark-900);
}

/* my own classes */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track of the scrollbar */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background: #E25098;
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #E25098;
  }